<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="users" class="com.springtutorial.pl.UsersRepository" scope="prototype" />

	<bean id="c1" class="com.springtutorial.pl.Component1">
		<property name="usersRepository" ref="users" />
	</bean>
	<bean id="c2" class="com.springtutorial.pl.Component2">
		<property name="usersRepository" ref="users" />
	</bean>


</beans>
